*{
    padding: 0;
    margin: 0;
}

.meetVideoContainer{
    position: relative;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.922);
}

.meetVideoContainer > .meetUserVideo{
    position: absolute;
    bottom: 10vh;
    height: 30vh;
    width: auto;
    right: 0;
    border-radius: 20px;
}

.btnContainers{
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
}
.btnContainers svg {
    font-size: 2.5rem;
}
.conferenceView{

}